{% extends 'base.html.twig' %}

{% block title %}Vue{% endblock %}

{% block body %}
{% set cat = article.idCategorie %}
{% set tags = article.idTag %}
<div class="container w-50 center ">
        <div class="d-flex justify-content-left mt-4 mb-4">
            <h2 class="fs-1 fw-bold"> {{ article.titreArticle }} </h2>
            <a class="btn btn-primary d-flex align-items-center ms-5" href="{{path('home')}}">Liste</a>
            <a class="btn btn-success d-flex align-items-center ms-5" href="{{path('admin')}}">Admin</a>
        </div>
        <div class="flex-column mt-4 mb-4">
            <div class="mb-2"><span class="fw-bold me-2">Catégorie:</span><a href="{{path('filterCategorie', {'categorie': cat.id})}}"> {{ cat.nomCategorie }}</a></div>
            <div><span class="fw-bold me-2">Tag:</span>{% for tag in tags %}<a href="{{path('filterTag', {'tag': tag.id})}}">*{{ tag.nomTag }}</a>{% endfor %}</div>
        </div>
        <p class="fs-5"> {{ article.contenuArticle }} </p>
</div>
{% endblock %}
