{% extends 'base.html.twig' %}

{% block title %}My Awesome Blog{% endblock %}

{% block body %}
<h2>Liste d'articles</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">Date Création</th>
      <th scope="col">Statut</th>
      <th scope="col">Categorie</th>
      <th scope="col">Tags</th>
      <th scope="col">Voir</th>
    </tr>
  </thead>
  <tbody>
  {% for article in articles %}
  {% set cat = article.idCategorie %}
  {% set tags = article.idTag %}
    <tr>
      <th scope="row">{{ article.titreArticle }}</th>
      <td>{{ article.dateCreationArticle|date('d/m/Y') }}</td>
      <td>{{ article.statutArticle }}</td>
      <td>{{ cat.nomCategorie }}</td>
      {% for tag in tags %}
      <td>{{ tag.nomTag }}</td>
      {% endfor %}
      <td><a class="btn btn-primary" href="{{path('view', {'id': article.id})}}" role="button">Link</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
