{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
      <div class="col-sm-2">
        <p>Filtrer</p>
          <form id="filtersTag">
            {% for tag in tags %}
              <p><input type="checkbox" name="tags[]" id="tag{{tag.id}}" value="{{tag.id}}">
                  <label for="tag{{tag.id}}">{{tag.nomTag}}</label></p>
            {% endfor %}
          </form>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Catégorie
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              {% for categorie in categories %}
              <li><a class="dropdown-item" href="{{path('filterCategorie', {'categorie': categorie.id})}}">{{categorie.nomCategorie}}</a></li>
              {% endfor %}
            </ul>
          </div>
      </div>
      <div class="col" id="content">
        {% include "home/_content.html.twig" %}
      </div>
  </div>

{% endblock %}
