{% extends 'base.html.twig' %}

{% block title %}Liste des articles filtrés par tag {% endblock %}

{% block body %}
<div class="container">
  <div class="d-flex justify-content-around mt-4 mb-4">
      <h2>Liste des articles filtrés par tag</h2>
       <a class="btn btn-primary d-flex align-items-center" href="{{path('home')}}">Home</a>
      <a class="btn btn-success d-flex align-items-center" href="{{path('admin')}}">Admin</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th >Titre</th>
        <th>Date Création</th>
        <th >Statut</th>
        <th>Categorie</th>
        <th>Tags</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for article in articles %}
    {% set cat = article.idCategorie %}
    {% set tags = article.idTag %}
      <tr>
        <th>{{ article.titreArticle }}</th>
        <td>{{ article.dateCreationArticle|date('d/m/Y') }}</td>
        <td>{{ article.statutArticle }}</td>
        <td>{{ cat.nomCategorie }}</td>
        <td>{% for tag in tags %} *{{ tag.nomTag }}{% endfor %}</td>
        <td><a class="btn btn-info btn-sm" href="{{path('view', {'id': article.id})}}" role="button">Voir</a></td>
      </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}

